// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 7px;
}

// Спойлер
.spollers__item {
	font-size: rem(16);
}

// Заголовок спойлера
.spollers__title {
	width: 66.324%;
	cursor: default;
	text-align: left;
	border-bottom: 1px solid #e0e0e0;
	padding: rem(10) rem(22);

	position: relative;

	font-size: rem(18);
	font-weight: 500;
	line-height: math.div(24, 18);
	color: $blueColor;

	._spoller-init & {
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 24px;
			top: 51%;
			background-color: #5f5f5f;
			height: 2px;
			width: 7px;
			transition: transform 0.5s ease 0s;
		}

		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}

		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}

		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}

			&::after {
				transform: rotate(40deg);
			}
		}
	}
}

// Контент спойлера
.spollers__body {
	padding: rem(20);
}