.btn {
	display: inline-flex;
	align-items: center;
	padding: rem(6) rem(53);

	font-size: rem(16);
	font-weight: 500;
	line-height: math.div(24, 16);
	color: #000;
	background-color: $btnColor;

	@media (max-width:em(1150)) {
		padding: rem(5) rem(40);
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: .7;
		}
	}
}