.banner {
  @include adaptiveValue("margin-bottom", 30, 16, 1920, 375, 2);

  &__image {

    img {
      max-width: 100%;

      @media (max-width:em(375)) {
        height: 178px;
      }
    }

    @media (max-width:$mobile) {
      margin: 0 rem(-15);
    }
  }
}

.features {
  @include adaptiveValue("padding-bottom", 75, 25, 1920, 375, 2);

  /* .features__list */
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(15);

    @media (max-width: em(1080)) {
      grid-template-columns: repeat(2, 343px);
      justify-content: center;
      row-gap: 14px;
    }

    @media (max-width:$mobile) {
      grid-template-columns: repeat(1, 343px);
    }
  }
}

.item-features {
  display: flex;
  padding: rem(4) rem(15) rem(6) rem(4);

  @media (max-width: em(1080)) {
    padding: rem(4) rem(3) rem(6) rem(4);
  }

  /* .item-features__icon */
  &__icon {
    margin-top: rem(6);
  }

  /* .item-features__content */
  &__content {
    padding-left: rem(5);
  }

  /* .item-features__header */
  &__header {
    display: flex;

    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  /* .item-features__title */
  &__title {
    flex: 1 1 auto;

    font-size: rem(16);
    font-weight: 500;
    line-height: math.div(24, 16);
    text-transform: uppercase;

    @media (max-width:$mobile) {
      line-height: math.div(19.2, 16);
    }
  }

  /* .item-features__link */
  &__link {
    line-height: math.div(21, 14);
    color: $blueColor;
    text-decoration: underline;

    @media (max-width:$mobile) {
      font-size: rem(13);
      line-height: math.div(21, 13);
    }
  }

  /* .item-features__text */
  &__text {
    line-height: math.div(16.8, 14);
    color: #5F5F5F;
  }
}

//========================================================================================================================================================

.up-lottery {
  @include adaptiveValue("padding-bottom", 75, 34, 1920, 375, 2);

  /* .up-lottery__container */
  &__container {
    @media (max-width: em(1080)) {
      text-align: center;
    }

    @media (max-width:$mobileSmall) {
      text-align: left;
    }
  }

  /* .up-lottery__list */

  .up-lottery__title {
    @include adaptiveValue("margin-bottom", 30, 12, 1920, 375, 2);

    @include adaptiveValue("font-size", 24, 18, 1920, 375, 2);
    font-weight: 500;
    line-height: math.div(36, 24);

    @media (max-width:$mobile) {
      line-height: math.div(36, 18);
    }
  }

  /* .up-lottery__list */
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(15);

    @media (max-width: em(1080)) {
      grid-template-columns: repeat(2, 343px);
      justify-content: center;
      row-gap: 14px;
    }

    @media (max-width:$mobile) {
      grid-template-columns: repeat(1, 343px);
    }
  }

  /* .up-lottery__item */
  &__item {}
}

.item-up-lottery {
  overflow: hidden;

  /* .item-up-lottery__img */
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(141);
    height: rem(80);

    border-radius: 100px / 60px;
    border: 2px solid #e0e0e0;

    @media (max-width: em(1150)) {
      width: rem(123);
    }
  }

  /* .item-up-lottery__head */
  &__head {
    display: flex;
    justify-content: space-between;
    padding: rem(6) rem(39) rem(5) rem(28);

    @media (max-width: em(1150)) {
      padding: rem(6) rem(23) rem(3) rem(24);
    }
  }

  /* .item-up-lottery__content */
  &__content {
    display: flex;
    flex-direction: column;
    padding: rem(18) 0 0 rem(2);

    @media (max-width:$mobile) {
      padding: rem(12) 0 0 rem(2);
    }
  }

  /* .item-up-lottery__title */
  &__title {
    align-self: end;
    margin: 0 rem(5) rem(14);

    @media (max-width:$mobile) {
      margin: 0 0 rem(12);
    }
  }

  /* .item-up-lottery__sum */
  &__sum {
    font-size: rem(26);
    font-weight: 700;
    line-height: math.div(22, 26);
    color: $headColor;

    @media (max-width:$mobile) {
      font-size: rem(24);
    }
  }

  &__btn {
    border-radius: rem(8);
  }

  /* .item-up-lottery__footer */
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(11) rem(72) rem(10) rem(12);

    background-color: $blueColor;

    @media (max-width:$mobile) {
      padding: rem(13) rem(50) rem(12) rem(12);
    }
  }

  /* .item-up-lottery__timer */
  &__timer {
    background: url('@img/icons/alarm-wh.svg') left center no-repeat;
    color: #fff;
  }
}

//========================================================================================================================================================

.all-lottery {
  @include adaptiveValue("padding-bottom", 75, 29, 1920, 375, 2);

  /* .all-lottery__container */
  &__container {}

  /* .all-lottery__title */
  &__title {}

  /* .all-lottery__list */
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: rem(15);
    padding: 15px 0;

    @include adaptiveValue("padding-left", 35, 8, 1920, 375, 2);
    @include adaptiveValue("padding-right", 35, 8, 1920, 375, 2);

    @media (max-width: em(560)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* .all-lottery__link-more */
  &__link-more {
    display: block;
    margin-right: rem(35);

    font-size: rem(18);
    font-weight: 500;
    line-height: math.div(24, 18);
    color: $blueColor;
    text-align: right;
    text-decoration: underline;

    @media (max-width:$mobile) {
      margin-right: rem(18);
      font-size: rem(16);
    }
  }
}

.item-all-lottery {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(12) 0;

  &::after {
    content: '';
    position: absolute;
    right: rem(17);
    top: rem(9);
    width: rem(16);
    height: rem(16);
    background: url('@img/icons/star.svg') 0 0 no-repeat;

    @media (max-width:$mobile) {
      background-size: 12px 12px;
      right: rem(4);
      top: rem(8);
    }
  }

  @media (max-width:$mobile) {
    padding: rem(16) rem(8) rem(10);
  }

  /* .item-all-lottery__img */
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;

    @include adaptiveValue("margin-bottom", 27, 12, 1920, 375, 2);
    width: rem(96);
    height: rem(94);

    border-radius: 50%;
    border: 2px solid #e0e0e0;

    @media (max-width:$mobile) {
      width: rem(81);
      height: rem(78);

      img {
        max-width: 100%;
      }
    }
  }

  /* .item-all-lottery__content */
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .item-all-lottery__title */
  &__title {
    &:not(:last-child) {
      margin: 0 0 rem(8) rem(24);
    }

    &::before {
      left: rem(-24);
    }

    @media (max-width: em(375)) {
      &:not(:last-child) {
        margin: 0 0 rem(7) rem(24);
      }

      font-size: rem(12);
      line-height: math.div(14.4, 12);
    }
  }

  /* .item-all-lottery__sum */
  &__sum {
    &:not(:last-child) {
      margin-bottom: rem(8);
    }

    font-size: rem(20);
    font-weight: 700;
    line-height: math.div(22, 20);

    @media (max-width: em(375)) {
      font-size: rem(18);
      line-height: math.div(22, 18);
    }
  }

  /* .item-all-lottery__timer */
  &__timer {
    &:not(:last-child) {
      margin-bottom: rem(14);
    }

    background: url('@img/icons/alarm.svg') left center no-repeat;

    font-size: rem(16);
    color: $blueColor;

    @media (max-width: em(375)) {
      padding-left: rem(15);
      background-size: rem(12) rem(12);

      font-size: rem(14);
      line-height: math.div(18, 14);

      &:not(:last-child) {
        margin-bottom: rem(8);
      }
    }
  }

  /* .item-all-lottery__btn */
  &__btn {
    padding: rem(7) rem(58);
    border-radius: rem(8);

    @media (max-width:$mobile) {
      padding: rem(6) rem(36);
    }
  }
}

//========================================================================================================================================================

.winners {
  @include adaptiveValue("padding-bottom", 63, 29, 1920, 375, 2);

  /* .winners__container */
  &__container {
    justify-content: center;
    gap: 15px;

    @media (max-width: em(1100)) {
      flex-wrap: wrap;
    }

    @media (min-width:em(376)) {
      display: flex;
    }
  }
}

.big-winner {
  flex: 0 1 66.23%;

  @media (max-width: em(1100)) {
    flex: 0 1 100%;
  }

  @media (max-width: em(375)) {
    margin-bottom: rem(32);
  }

  /* .big-winner__title */
  &__title {
    margin-bottom: rem(15);

    @media (max-width: em(375)) {
      height: 50px;
    }
  }

  /* .big-winner__body */
  &__body {
    @include adaptiveValue("padding-right", 94, 0, 1920, 375, 2);
    @include adaptiveValue("padding-left", 47, 0, 1920, 768, 2);
    @include adaptiveValue("padding-top", 20, 15, 1920, 375, 2);
    @include adaptiveValue("padding-bottom", 20, 14, 1920, 375, 2);
  }

  /* .big-winner__sum */
  &__sum {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(25);
    margin-right: rem(12);

    @include adaptiveValue("font-size", 36, 27, 1920, 375, 2);
    font-weight: 700;
    line-height: math.div(22, 36);
    color: $blueColor;

    @media (max-width:$mobileSmall) {
      margin-bottom: rem(12);
      margin-right: 0;
    }

    span {
      margin: 0 rem(10) 0 rem(20);

      font-size: rem(28);
      font-weight: 500;
      line-height: math.div(38, 28);
      color: #000;

      @media (max-width: em(375)) {
        font-size: rem(27);
      }
    }

    img {
      @media (max-width:$mobile) {
        height: rem(40);
        width: rem(40);
      }
    }
  }

  /* .big-winner__content */

  &__content {
    display: flex;

    @media (max-width:$mobile) {
      flex-direction: column;
    }
  }

  /* .big-winner__media */
  &__media {
    @media (max-width:$mobile) {
      margin-bottom: rem(16);
    }
  }

  /* .big-winner__bg */
  &__bg {
    position: absolute;
    max-width: 100%;
    height: 100%;
    left: rem(-26);
    top: 0;
    z-index: -1;

    @media (max-width:$mobile) {
      width: 100%;
    }
  }

  /* .big-winner__image */
  &__image {
    position: relative;
    margin-bottom: rem(19);

    img {
      @media (max-width: em(375)) {
        height: rem(171);
      }
    }

    @media (max-width:$mobile) {
      text-align: center;

      @media (max-width: em(375)) {
        margin-bottom: rem(16);
      }
    }
  }

  /* .big-winner__photo */

  &__photo {
    position: relative;
    z-index: 10;
  }

  /* .big-winner__date */
  &__date {
    margin-right: rem(80);

    font-size: rem(12);
    line-height: math.div(12.6, 12);
    text-align: right;

    @media (max-width:$mobile) {
      margin-right: 0;
    }

    @media (max-width:em(375)) {
      margin-right: rem(55);
    }
  }

  /* .big-winner__results */
  &__results {
    margin-bottom: rem(7);
    margin-left: rem(36);

    @media (max-width:$mobile) {
      justify-content: center;
    }

    @media (max-width:em(375)) {
      justify-content: start;
      margin-left: 41px;
    }
  }

  /* .big-winner__story */
  &__story {}
}


.results-big-winner {
  display: flex;
  align-items: center;
  gap: rem(10);

  @media (max-width: em(375)) {
    gap: rem(15);
  }

  /* .results-big-winner__text */
  &__text {
    font-weight: 500;
    text-transform: uppercase;
    line-height: math.div(16.8, 14);
  }

  /* .results-big-winner__items */
  &__items {
    display: flex;
    gap: rem(4);
  }

  /* .results-big-winner__item */
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    height: rem(20);
    flex: 0 0 rem(20);

    background-color: $headColor;
    border-radius: 50%;

    font-size: rem(12);
    line-height: math.div(14.4, 12);
    color: #fff;
  }
}

.story-big-winner {
  padding-left: rem(44);

  @media (max-width: em(1100)) {
    text-align: center;
  }

  @media (max-width:$mobile) {
    padding-left: 0;
  }

  /* .story-big-winner__title */
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(14);
    }

    font-size: rem(16);
    font-weight: 500;
    line-height: math.div(24, 16);

    @media (max-width: em(375)) {
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
  }

  /* .story-big-winner__text */
  &__text {
    line-height: math.div(21, 14);

    margin-bottom: rem(32);

    @media (max-width:$mobile) {
      margin-bottom: rem(11);
    }
  }

  /* .story-big-winner__link */
  &__link {
    display: block;

    font-weight: 500;
    line-height: math.div(16.8, 14);
    color: $blueColor;
    text-decoration: underline;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: rem(36);
    }

    @media (max-width:$mobile) {
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
  }

  /* .story-big-winner__btn */
  &__btn {
    padding: rem(9) rem(85);
    min-width: 232px;
    border-radius: rem(8);


    font-size: rem(14);
    text-align: center;
  }
}

.our-winners {
  flex: 1 1 32.47%;

  /* .our-winners__title */
  &__title {
    margin-bottom: rem(15);

    @media (max-width: em(375)) {
      height: 50px;
    }
  }

  /* .our-winners__prize */
  &__prize {
    @include adaptiveValue("margin-bottom", 32, 17, 1920, 375, 2);
  }

  /* .our-winners__list */
  &__list {}

  /* .our-winners__item */
  &__item {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 15, 9, 1920, 375, 2);
    }
  }
}

.prize-our-winners {
  padding: rem(5) rem(10) rem(7);

  text-align: center;

  /* .prize-our-winners__title */
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(3);
    }

    font-size: rem(18);
    line-height: math.div(21.6, 18);
  }

  /* .prize-our-winners__sum */
  &__sum {
    font-size: rem(26);
    font-weight: 700;
    line-height: math.div(22, 26);
    color: $headColor;

    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  /* .prize-our-winners__tickets */
  &__tickets {
    font-size: rem(26);
    font-weight: 500;
    line-height: math.div(31.2, 26);

    span {
      font-size: rem(18);
      font-weight: 400;
      line-height: math.div(21.6, 18);
    }
  }
}

.item-our-winners {
  display: flex;
  padding: rem(10) rem(10) rem(4) rem(15);

  /* .item-our-winners__icon */
  &__icon {}

  /* .item-our-winners__content */
  &__content {
    padding: rem(6) rem(15) 0;
  }

  /* .item-our-winners__date */
  &__date {
    margin-bottom: rem(2);
  }

  /* .item-our-winners__name */
  &__name {
    padding-left: rem(25);
    margin-bottom: rem(5);

    background: url('@img/icons/deutsche.svg') left center no-repeat;
    font-weight: 500;
  }

  /* .item-our-winners__attempts */
  &__attempts {
    line-height: math.div(21, 14);
    color: #5f5f5f;
  }
}

//========================================================================================================================================================

.faq {

  @include adaptiveValue("padding-bottom", 63, 29, 1920, 375, 2);


  @media (max-width:$mobileSmall) {
    display: none;
  }

  /* .faq__title */
  &__title {
    margin: 0 0 rem(22) rem(4);

    font-size: rem(25);
    font-weight: 500;
    line-height: math.div(36, 24);
    letter-spacing: -.5px;
  }
}


//========================================================================================================================================================