.banner {
  margin-bottom: rem(30);

  /* .banner__container */
  &__container {

    /* .banner__container_wide */
    &_wide {}
  }

  &__image {

    img {
      max-width: 100%;

      @media (max-width:em(375)) {
        height: 178px;
      }
    }

    @media (max-width:$mobile) {
      margin: 0 -15px;
    }
  }
}

.features {
  margin-bottom: rem(1000);

  /* .features__container */
  &__container {}

  /* .features__list */
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(15);
  }

  /* .features__item */
  &__item {
    // flex: 0 1 32.4%;
  }
}

.item-features {
  display: flex;
  // align-items: center;
  padding: 4px 15px 6px 4px;

  border: 1px solid #E0E0E0;
  border-radius: 8px;

  &:last-child {
    padding-left: 0;
  }

  /* .item-features__icon */
  &__icon {
    margin-top: rem(6);
  }

  /* .item-features__body */
  &__body {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
  }

  /* .item-features__title */
  &__title {
    flex: 1 1 auto;

    font-size: rem(16);
    font-weight: 500;
    line-height: math.div(24, 16);
    text-transform: uppercase;
  }

  /* .item-features__link */
  &__link {
    line-height: math.div(21, 14);
    color: $blueColor;
    text-decoration: underline;
  }

  /* .item-features__text */
  &__text {
    width: 100%;
    padding-top: rem(5);

    line-height: math.div(16.8, 14);
    color: #5F5F5F;
  }
}